name: Publish Python package

on:
  workflow_dispatch:
  
  push:
    tags:
      - 'v*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip build setuptools wheel

      - name: Build distributions
        run: |
          python -m build --wheel --no-isolation

      - name: Install twine
        run: |
          python -m pip install --upgrade pip twine

      - name: Publish to PyPI with twine
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          python -m twine check dist/*
          python -m twine upload dist/* --non-interactive -u "$TWINE_USERNAME" -p "$TWINE_PASSWORD"
